# greenroots db
POSTGRES_USER=user
POSTGRES_PASSWORD=pw
POSTGRES_DB=db
POSTGRES_PORT=5432

# greenroots api
API_LOCAL_PORT=3000
API_JWT_SECRET=change_me
REDIS_URL=redis://localhost:6379

EMAILJS_SERVICE_ID=change_me
EMAILJS_TEMPLATE_ID=change_me
EMAILJS_PUBLIC_KEY=change_me
EMAILJS_PRIVATE_KEY=change_me
GMAIL_USER=change_me

FRONT_URL=http://localhost:5173

# greenroots client
CLIENT_LOCAL_PORT=5173