# greenroots db
POSTGRES_USER=user
POSTGRES_PASSWORD=pw
POSTGRES_DB=db
POSTGRES_PORT=5432

# greenroots api
API_LOCAL_PORT=3000
API_JWT_SECRET=change_me
REDIS_URL=redis://localhost:6379

# greenroots client
CLIENT_LOCAL_PORT=5173
