:root {
  --bg-color-primary: #F6F8F7;
  --bg-color-secondary: #1A4231;
  --bg-color-tercary: #0D0D0C;
  --bg-color-quartary: #151D1A;
  --text-color: #6F777A;
  --font-primary: 'Inter', sans-serif;
}

section {
  margin-bottom: 5rem;
}

/* === Section Banniere === */

h1 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

.banniere_landing {
  position: relative;
  height: 50dvh;
}

.banniere {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banniere_landing_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
}

.hero_banniere {
  color: var(--bg-color-primary);
  font-size: 1.2rem;
  font-weight: bold;
}

.div_buttons_banniere {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.btn_catalog,
.btn_about {
  background-color: var(--bg-color-secondary);
  color: var(--bg-color-primary);
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.6rem;
  border-radius: 1rem;
  border: 1px solid #1A4231;
}

.btn_about {
  background-color: #433C34;
  color: var(--bg-color-primary);
}

/* === Section why_choose === */

.why_choose,
.trees_popular {
  margin-right: 18rem;
  margin-left: 18rem;
}

h4,
.link_catalog {
  color: var(--bg-color-secondary);
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

h4::before {
  content: '';
  width: 30px;
  height: 4px;
  background-color: var(--bg-color-quartary);
}

h2 {
  color: var(--bg-color-tercary);
  font-weight: bold;
  font-size: 2rem;
}

.description_h2 {
  color: var(--text-color);
  width: 50%;
}

h3 {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 1rem 0 0 1rem;
}

.article_mission {
  display: flex;
  gap: 4rem;
}

.article_reasons_choose {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.icon_wrapper {
  background-color: lightgray;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem 0 1rem;
}

.description_article {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

.description_article h3 {
  min-height: 4rem;
}

.description_article_reasons {
  color: var(--text-color);
  font-size: 1.2rem;
  margin: 0 1rem 1rem 1rem;
}

.section_article_trees {
  display: flex;
  gap: 2rem;
}

/* === Section arbre populaire ===  */

.div_h3_link_catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.h3_trees_popular {
  margin: 0;
}

.chene {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.title_tree_popular {
  color: var(--bg-color-tercary);
  margin: 0.5rem 1.5rem;
}

.label_tree {
  color: var(--text-color);
  font-size: 1.2rem;
  margin: 0;
  padding: 0 1rem;
  text-align: center;
}

.price_tree {
  font-weight: 800;
  font-size: 1.6rem;
  color: var(--bg-color-secondary);
  margin: 0;
}

.div_price_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.icon_wrapper_cart {
  background-color: var(--bg-color-secondary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center
}