PORT=SERVER_PORT
DATABASE_URL=postgres://user:pw@localhost:5432/db
REDIS_URL=redis://localhost:6379
JWT_SECRET=change_me
NODE_ENV=development

EMAILJS_SERVICE_ID=change_me
EMAILJS_TEMPLATE_ID=change_me
EMAILJS_PUBLIC_KEY=change_me
EMAILJS_PRIVATE_KEY=change_me
GMAIL_USER=change_me

FRONT_URL=http://localhost:5173